@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans antialiased text-gray-800;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
  }
  
  a {
    @apply no-underline;
  }
  
  ul {
    @apply list-none;
  }
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto px-5;
  }
  
  @media (max-width: 768px) {
    .container {
      @apply px-4;
    }
  }
}

